body {
    background: #AAAAAA;
}

#wrapper {
    margin: 0 auto;
    width: 700px;
    height: 700px;
    position: relative;
    text-align: center;
}

button {
    height: 25px;
    margin: 25px;
}

#scoreDisplay {
    display: inline;
}

#game_board {
    width: 540px;
    height: 540px;
    position: absolute;
    z-index: 1;
    background: #000;
    border-radius: 280px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


#game_wrapper {
    position: relative;
    width: 508px;
    height: 508px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wedge {
    height: 250px;
    width: 250px;
    float: left;
    display: block;
    opacity: .6;
    margin: 2px;
    z-index: 25;
}

#wedge:hover {
    opacity: .7;
}

.center_circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;

}

.logo h1 {
    font-family: Lato;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 4em;

}

.blue {
    background: blue;
    border-top-left-radius: 250px;
}

.yellow {
    background: yellow;
    border-top-right-radius: 250px;
}

.red {
    background: red;
    border-bottom-left-radius: 250px;
}

.green {
    background: green;
    border-bottom-right-radius: 250px;
}

ul {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  padding: 3px;
}

